<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastrocliente.css">
    <title>Cadastro Cliente</title>
</head>
<body>
    <header>
        <nav>
          <ul>
        
            <li><a href="banhoTosa.html">Banho e Tosa - Madame Pet</a></li>

          </ul>
    
          <hr>
        </nav>
    
        <h1>CADASTRO CLIENTE</h1>
      </header>
    
      <div>
        <div id="form">
        <form>
            <label>Nome</label>
            <input type="Name" placeholder="Insira Seu Nome"></input>
            <label>E-Mail</label>
            <input type="email" placeholder="Insira Seu E-mail"></input>
            <label>Telefone</label>
            <input type="tel" placeholder="Insira Seu Telefone"></input>
            <label>Endererço</label>
            <input type="text" placeholder="Insira Seu Telefone"></input>
            <label>Senha</label>
            <input type="password" placeholder="Insira Sua Senha"></input>
            <input name="btn-cadastrar" class="btn-cadastrar" type="submit" value="CADASTRAR"></input>

        </form>
        </div>
      </div>
</body>
</html>