<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/listarfuncionario.css">
    <script src="../js/crudfuncionario.js"></script>
    <title>Cadastro Cliente</title>
</head>
<body onload="listareexcluir()">
    <header>
        <nav>
          <ul>
        
            <li><a href="banhoTosa.html">Banho e Tosa - Madame Pet</a></li>

          </ul>
    
          <hr>
        </nav>
    
        <h1>LISTAR FUNCIONÁRIO</h1>
      </header>
    
</body>
</html>